/* ./src/renderer/checklist/checklist.css  */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(59, 59, 59, 0); /* Transparent background */
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
    -webkit-app-region: drag; /* Makes the window draggable */
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-app-region: drag; /* Make the entire container draggable */
    background-color: transparent;
    padding-top: 15px;
}

#checklist {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-app-region: no-drag; /* Prevent drag on interactive items */
}

#checklist li {
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-align: center;
    user-select: none;
    -webkit-app-region: no-drag;
}

/* Critical items style */
#checklist li[data-type="critical"] {
    background-color: red;
}

/* Optional items styles for states */
#checklist li[data-type="optional"] {
    color: white;
}

#checklist li.state-red {
    background-color: red;
    color: white;
}

#checklist li.state-yellow {
    background-color: yellow;
    color: black;
}

#checklist li.state-green {
    background-color: green;
    color: white;
}

#checklist li.reminder {
    cursor: default; /* No pointer cursor for reminders */
}


/* Completed style for other items */
#checklist li.completed {
    background-color: green !important;
    color: white;
}

#reset-btn {
    width: 100%;
    border: none;
}

#reset-btn {
    background-color: #444;
    color: white;
    cursor: pointer;
    -webkit-app-region: no-drag;
    width: 100%;
}

#reset-btn:hover {
    background-color: #666;
}
/* Shared Styles for Critical and Important */
.critical,
.important {
    font-weight: bold;
    color: #fff;
}

/* Critical Items */
.critical {
    background-color: #007bff; /* Blue */
    border-left: 5px solid rgb(85, 1, 1);
}

/* Important Optional Items */
.important {
    background-color: #ffc107; /* Yellow */
    border-left: 5px solid #ff9800;
}

.reminder{
    background-color: white; 
    border-left: 5px solid #9e9e9e;
    color: black !important;
}

/* Optional Items */
.state-yellow {
    background-color: #fdf4e3; /* Light Yellow */
    border-left: 5px solid #ffc107;
}