/* ./styles/styles.css  */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    /* background-color: rgba(28, 29, 35, 1); */
    /* width: 100vw; */
    /* height: 100vh; */
}

li {
    font-size: 12px;
}

.dragable {
    -webkit-app-region: drag; /* Makes the entire window draggable */
    /* width: 100vw;
    height: 100vh; */
}
.nodrag {
    -webkit-app-region: no-drag; /* Prevent drag on interactive elements */
}

/* Disable text selection across the entire application */
* {
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

/* Remove outline from all elements when clicked */
*:focus,
*:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}