html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d23; /* Dark mode background */
    overflow: hidden;
    font-family: sans-serif;
    padding-bottom: 20px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#galleryContainer {
    height: 100%;
    width: 100vw;
    position: relative;
}

.drag-area {
    height: 30px;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.image-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slideshowImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.6s ease;
}

/* === Hidden Controls Show on Hover === */
.nav-btn,
.filter-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 10;
}

#galleryContainer:hover .filter-toggle {
    opacity: 1;
}

.left-btn {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-btn {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Show on hover */
.image-wrapper:hover .nav-btn,
.image-wrapper:hover .filter-toggle {
    opacity: 0;
}

/* Filter  */

.filter-drawer {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #111;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.7);
    transition: right 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-drawer.open {
    right: 0;
}

.filter-drawer input {
    width: 100%;
    padding: 5px;
    margin-top: 4px;
    background: #222;
    color: white;
    border: 1px solid #444;
}

.filter-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.filter-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

.image-wrapper:hover .filter-toggle {
    opacity: 1;
}

#resultCount {
    transition: opacity 0.2s ease;
}

#resultCount.fading {
    opacity: 0.4;
}

.active-filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 6px;
}

.filter-badge {
    background-color: #2e343f;
    color: #89caff;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    user-select: none;
}
